<!DOCTYPE html>
<html>
  <head>
    <title>Ds</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="<%= script_for('main') %>" charset="utf-8"></script>
  </body>
</html>
